.backGround {
    background-image: url(assets/images/images.png);
    height: 550px;
    width: 50%;
    margin-left: 610px;
        
}

h1 , form , h2 , P {
    text-align: center;
}

#tofes {
    display: block;
    padding: 20px;
    background-color:coral;
    margin: 30px;
    height: 180px;
    width: 30%;
    margin-left: 800px;
}

#forgot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

#picture {
    background-image: url(assets/images/success.jpeg);
    border: 550px; 
    height: 500px;
}

#message {
    font-style: italic;
    color:crimson;
    font-size: large;
   text-shadow: 0 1px rgba(red, green, blue, alpha);
    
}

